rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth.uid in get(/databases/$(database)/documents/groups/admins).data.accounts;
    }
    function selectedGroup() {
      return get(/databases/$(database)/documents/accounts/$(request.auth.uid)).data.group
    }
    match /service/{docs} {
      allow read, update: if isAdmin();
      allow read: if true;
    }
    match /accounts/{accountId} {
      allow read, write: if isAdmin();
      allow read, update: if request.auth.uid == accountId;
    }
    match /groups/{groupId} {
      allow read, write: if isAdmin();
      allow read, update: if request.auth.uid in resource.data.accounts;
    }
    match /people/{personId} {
      allow read, write: if selectedGroup() in resource.data.groups;
    }
    match /people/{personId}/{path=**} {
      allow read, write: if selectedGroup() in get(/databases/$(database)/documents/people/$(personId)).data.groups;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
